body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Arial', 'Sans-Serif';
}
p {
    font-family:'Arial', 'Sans-Serif','Times New Roman';
    font-size: 1.6em;
    line-height: 1.2em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

@media print {
h1 {
      color: #000;
      background: none;
   }
  
   nav, aside {
      display: none;
   }
  
   body, article {
      width: 100%;
      margin: 0;
      padding: 0;
   }
  
   @page {
       size: 210mm 297mm;  /* or size: 794px 1123px;   */
       size: 297mm 420mm;  /* or size: 1123px 1588px;  */
      margin: 2cm;
   }
   
   img {
   max-width: 100% !important;
}
}

#B ul li {
    display:inline;
    list-style-type:none;
    margin: 0px;
    margin-right: 30px;
}

.align{text-align: justify; text-justify: inter-ideograph;}

.blue{
color: #4B77C4
}



