    <!-- About Section -->
    <section id="about" class="container content-section text-justify">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Junchao Zhang</h2>
              		<p>Associate Professor, Niigata University</p>
			<p>Education: Ph.D. in Economics, Yokohama National University, March 2017</p>
			<p>Research Fields: Labor Economics, Applied Microeconometrics</p>
			 <!-- <p>Referee Services: see my <a href="https://www.webofscience.com/wos/author/record/J-7088-2019">Web of Science</a></p> -->
			<p>Email: zhang[at]econ.niigata-u.ac.jp<br/> 
	
			 <!-- <font color="black">Email:</font> zhang[at]econ.niigata-u.ac.jp</p> -->
		        <img src="/img/niigata-logo.png" width=60% oncontextmenu="return false;" ondragstart="return false;" align="middle"> 

                <div class="news-block">
                    <h3>News</h3>

                    <div class="news-item">
                        <p class="news-date">2026</p>
                        <p><strong>統計・データサイエンス大会のチームメンバー募集</strong><br />
                        2026年8月に、Tokyo Open Data Hackathonおよび総務省主催「統計データ分析コンペティション」に向けた短期集中の研究会を開催します。参加メンバーを募集していますので、関心のある学生はぜひご連絡ください。</p>
                    </div>

                    <hr class="news-separator">

                    <div class="news-item">
                        <p class="news-date">2025/10/20</p>
                        <p><strong>受賞 / Award</strong><br />
                        ゼミ生の大野恒平さんが、総務省主催「統計データ分析コンペティション」の大学生・一般の部において、優秀賞を受賞しました。
                        My student, Kohei Ono, received the Excellence Award in the Statistical Data Analysis Competition organized by the Ministry of Internal Affairs and Communications. <a href="https://www.stat.go.jp/info/guide/public/houdou/pdf/ho251020.pdf">Link</a></p>
                    </div>

                </div>
            </div>
        </div>
    </section>
