    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
              			<p>Assistant Professor, The Institute of Statistical Mathematics</p>
			<p align="left">Education: Ph.D. in Economics, Yokohama National University, March 2017</p>
			<p align="left">Research Fields: Labor Economics, Applied Microeconometrics</p>
			<p align="left">Referee Services: see my <a href="https://publons.com/a/1574430/">Publons</a></p>
			<p align="left">Email: ztempest0218[at]gmail.com; zhang[at]ism.ac.jp</p>
            </div>
        </div>
    </section>
