    <!-- About Section -->
    <section id="about" class="container content-section text-justify">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Junchao Zhang</h2>
              		<p>Assistant Professor, Niigata University</p>
			<p>Education: Ph.D. in Economics, Yokohama National University, March 2017</p>
			<p>Research Fields: Labor Economics, Applied Microeconometrics</p>
			<p>Referee Services: see my <a href="https://publons.com/a/1574430/">Publons</a></p>
			<p>Email: zhang[at]econ.niigata-u.ac.jp<br/> 
			 <!-- <font color="black">Email:</font> zhang[at]econ.niigata-u.ac.jp</p> -->
		        <img src="/img/niigata-logo.png" width=40% oncontextmenu="return false;" ondragstart="return false;" align="middle"> 
            </div>
        </div>
    </section>
