<!-- Books Section -->
    <section id="books" class="content-section text-justify">
        <div class="books-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Books</h2>
<p>1. <a href="https://www.nippyo.co.jp/shop/book/8956.html">“少子化するアジア 家族形成の困難を超えて”</a>, 溝口由己(編) (担当:分担執筆, 範囲:第9章), <strong>日本評論社</strong>, 2023.</p>
                    
         
                </div>
            </div>
        </div>
    </section>
