    <!-- Contact Section -->
    <section id="contact" class="container content-section text-justify">
                <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Please feel free to contact me if you have any comments and questions regarding my research papers.</p>
                <p><a href="mailto:ztempest0218@gmail.com">ztempest0218@gmail.com</a></p>
                <div style="text-align: center">
                <img title="Amphiprion Ocellaris @Kerama Islands" src="/img/IMG_6272.jpeg" width=80% oncontextmenu="return false;" ondragstart="return false;">

                </div>


                <div class="dowebok">
    <div id="slider">
        <img src="ideal-image-slider/example/img/1.jpg" data-src-2x="ideal-image-slider/example/img/1@2x.jpg" alt="">
        <img src="ideal-image-slider/example/img/2.jpg" data-src-2x="ideal-image-slider/example/img/2@2x.jpg" alt="">
    </div>
</div>

<script>
var slider = new IdealImageSlider.Slider('#slider');
slider.addBulletNav();
slider.start();
</script>

                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
           </div>
    </section>
