    <!-- Contact Section -->
    <section id="contact" class="container content-section text-justify">
                <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                

                <p>Please feel free to contact me if you have any comments and questions regarding my research papers.</p>
                <p><a href="mailto:ztempest0218@gmail.com">ztempest0218@gmail.com</a></p>

                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
                
                <a href="https://scholar.google.com/citations?user=5-xkIOwAAAAJ&hl=en" title="Google Scholar" style="float:left;color:white;"><i class="ai ai-google-scholar-square ai-3x"></i></a>
                <a href="https://orcid.org/0000-0002-3714-6164" title="ORCiD" style="float:left;margin-left:30px;color:white;"><i class="ai ai-orcid-square ai-3x"></i></a>
                <a href="https://github.com/ztempest0218" title="Github" style="float:left;margin-left:30px;color:white;"><i class="fa fa-github fa-3x"></i></a>
                <a href="https://www.researchgate.net/profile/Junchao_Zhang3" title="Research Gate" style="float:left;margin-left:30px;color:white;"><i class="ai ai-researchgate-square ai-3x"></i></a>
                <a href="https://publons.com/a/1574430/" title="Publons" style="float:left;margin-left:30px;color:white;"><i class="ai ai-publons-square ai-3x"></i></a>
                
                
            </div>
           </div>
    </section>
