<!-- Data Section -->
    <section id="data" class="content-section text-justify">
        <div class="data-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Data</h2>
                    <h3>•Micro Data</h1>
<p class="align"><a href="http://http://cnsda.ruc.edu.cn/">Chinese National Survey Data Archive (CNSDA) </a></p>
<p class="align"><a href="http://http://opendata.pku.edu.cn/dataverse/CFPS">China Family Panel Studies (CFPS) </a></p>
<p class="align"><a href="http://charls.pku.edu.cn/en">China Health and Retirement Longitudinal Study (CHARLS)</a></p>
<p class="align"><a href="http://www.cpc.unc.edu/projects/china">China Health and Nutrition Survey (CHNS)</a></p>
<p class="align"><a href="https://www.pdrc.keio.ac.jp/">Japan Household Panel Survey (JHPS/KHPS)</a></p>
<p class="align"><a href="https://g2aging.org/">Global Aging Data</a></p>
<p class="align"><a href="https://www.ipums.org/healthsurveys.shtml">US National Health Surveys</a></p>
<h3>•Macro Data</h1>
<p class="align"><a href="http://statis.moi.gov.tw/micst/stmain.jsp?sys=100">Taiwan's Monthly Macro Statistics</a></p>
<p class="align"><a href="http://statdb.dgbas.gov.tw/pxweb/Dialog/statfile9.asp">Taiwan's County-Level Statistics</a></p>
<p class="align"><a href="http://www.ris.gov.tw/346">Taiwan's Demographic Statistics</a></p>
<h3>•GIS Data</h1>
<p class="align"><a href="http://www.diva-gis.org/">DIVA-GIS (Country Level)</a></p>
<p class="align"><a href="https://gist.motc.gov.tw/">Taiwan's Transportation and Communication</a></p>
<p class="align"><a href="http://gic.wra.gov.tw/gic/DataIndex/Data/Main.aspx">Taiwan's Water Resources</a></p>
<p class="align"><a href="http://egis.moea.gov.tw/OpenData/">Taiwan's Economic Indicators (Factory, Bussiness and Power)</a></p>

   
            
                </div>
            </div>
        </div>
    </section>
