
<!-- Lectures Section -->
    <section id="lectures" class="content-section text-justify">
        <div class="lectures-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Lectures</h2>
                  <p><a href=/lectures/2003030-労働経済学.pdf>労働経済学(横国、2017春)</a></p>
                    
                  <p><a href=/lectures/200A097-コンピューター・リテラシー.pdf>コンピュータ・リテラシー(横国、2017春)</a></p>
            
                </div>
            </div>
        </div>
    </section>
