
<!-- Lectures Section -->
    <section id="lectures" class="content-section text-justify">
        <div class="lectures-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Lectures</h2>
                  <!--  
                  <p><a href=/lectures/2003030-労働経済学.pdf>労働経済学(横国、2017春)</a></p>
                  -->
                  <p>労働経済学(横国、2017春)</p>  
                  
                  <p>コンピュータ・リテラシー(横国、2017春)</p>
                    
                  <p>経済データ分析2（理科大、2019春）</p>
                    
                  <p>経済学(ミクロ)（東洋大、2019春〜）</p>
                    
                  <p>経済学(マクロ)（東洋大、2019秋〜）</p>
                    
                  <p>労働経済学I（新潟大、2021春〜）</p>
                    
                  <p>労働経済学II（新潟大、2021秋〜）</p>  
                    

                </div>
            </div>
        </div>
    </section>
