
<!-- Lectures Section -->
    <section id="lectures" class="content-section text-justify">
        <div class="lectures-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Lectures</h2>

                  <p>Labor Economics (Yokohama National University 2017)</p>  
                    
                  <p>Economic Data Analysis （Tokyo University of Science 2019）</p>
                    
                  <p>Economics(Micro) & Economics(Macro) （Toyo University 2019〜2021）</p>
                    
                  <p>Labor Economics I & II （Niigata University 2021〜）</p>

                  <p>Introductory Statistics （Niigata University 2023〜）</p>  

                
                    

                </div>
            </div>
        </div>
    </section>
