<!-- miscellaneous Section -->
    <section id="misc" class="content-section text-justify">
        <div class="misc-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Misc</h2>

  <p>Iran<a href="https://docs.google.com/presentation/d/1Awcs0z3hSmQr6_nq1yrLETXnoByK_klk55EAocZvsUE/edit?usp=sharing">ここをクリック</a> Iran</p>
                    
            
                </div>
            </div>
        </div>
    </section>
