 <!-- Photos Section -->
    <section id="photos" class="content-section text-justify">
        <div class="photos-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                 <h2>Photography</h2>  
                 <img src="/img/IMG_6272.jpeg" width=50% oncontextmenu="return false;" ondragstart="return false;">
                 <img src="/img/IMG_0055.jpeg width=50% oncontextmenu="return false;" ondragstart="return false;">
            </div>
        </div>
        </div>
    </section>
