 <!-- Photos Section -->
    <section id="photos" class="content-section text-justify">
        <div class="photos-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                 <h2>Photography</h2>  
                 <ul id="lightSlider">
      </li>
      <li data-thumb="img/thumbs/cS-1.jpg">     
        <img src="img/cS-1.jpg"/>
      </li>
        <li data-thumb="img/thumbs/cS-2.jpg">
        <img src="img/cS-2.jpg"/>
      </li>
      ・・・
</ul>
             
            </div>
        </div>
        </div>
    </section>
