 <!-- Photos Section -->
    <section id="photos" class="content-section text-justify">
        <div class="photos-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                 <h2>Photography</h2>  
                 <ul id="lightSlider">
      </li>
      <li data-thumb="images/thumbs/1.jpg">     
        <img src="images/enrollment.jpg"/>
      </li>
        <li data-thumb="images/thumbs/2.jpg">
        <img src="images/immi.jpg"/>
      </li>
      ・・・
</ul>
             
<script>
jQuery(function($){  
    $("#lightSlider").lightSlider({
        item:1,
        auto: true,
        speed: 500,
        pause: 4000,
        gallery:true,
        thumbItem:5,
        loop: true,
        adaptiveHeight:true 
    }); 
}); 
</script>
            </div>
        </div>
        </div>
    </section>
