<!-- Photography Section -->
    <section id="photography" class="content-section text-justify">
        <div class="photography-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Photography</h2>
                  
    <div class="dowebok">
    <div id="slider">
        <img title=""src="img/slides/IMG_5516.JPG" data-src-2x="img/slides/IMG_5516.JPG" alt="2020.11@Kerama" oncontextmenu="return false;" ondragstart="return false;">
        <img title=""src="img/slides/IMG_5517.JPG" data-src-2x="img/slides/IMG_5517.JPG" alt="2020.11@Ishigaki" oncontextmenu="return false;" ondragstart="return false;">
        <img title=""src="img/slides/IMG_5519.JPG" data-src-2x="img/slides/IMG_5519.JPG" alt="2021.07@Sado" oncontextmenu="return false;" ondragstart="return false;">
        <img title=""src="img/slides/IMG_5518.JPG" data-src-2x="img/slides/IMG_5518.JPG" alt="2022.05@Sado" oncontextmenu="return false;" ondragstart="return false;">
        <img title=""src="img/slides/IMG_5515.JPG" data-src-2x="img/slides/IMG_5515.JPG" alt="2022.05@Sado" oncontextmenu="return false;" ondragstart="return false;">
        <img title=""src="img/slides/IMG_5520.JPG" data-src-2x="img/slides/IMG_5520.JPG" alt="2022.06@Small Worlds" oncontextmenu="return false;" ondragstart="return false;">
        </div>

<script>
var slider = new IdealImageSlider.Slider('#slider');
slider.addBulletNav();
slider.addCaptions();
slider.start();
</script>

                </div>
            </div>
        </div>
    </section>
