    <!-- Publications Section -->
    <section id="research" class="content-section text-justify">
        <div class="research-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
<h2>Publications</h2>
<p>1. <a href="https://econpapers.repec.org/article/eblecbull/eb-14-00893.htm">“Identifying the Causal Effect of Marriage on Women's Labor Force Participation in the Presence of Chinese Superstition”</a>, with S. Zhang, <strong>Economics Bulletin</strong>, 35(2), 986-997, April 2015.</p>
                    
<p>2. <a href="https://www.sciencedirect.com/science/article/pii/S1043951X16301675">“A Dilemma of Fertility and Female Labor Supply: Identification Using Taiwanese Twins”</a>, <strong>China Economic Review</strong>, 43, 47-63, April 2017.</p>

<p>3. <a href="https://www.sciencedirect.com/science/article/pii/S1043951X17300445">“School Starting Age and Academic Achievement: Evidence from China's Junior High Schools”</a>, with S. Zhang and R. Zhong, <strong>China Economic Review</strong>, 44, 343-354, July 2017.</p>

<p>4. <a href="https://doi.org/10.1080/00036846.2018.1468553">“The Impact of  9-year Compulsory Education: Quasi-Experimental Evidence from Taiwan”</a>, <strong>Applied Economics</strong>, 50(45), 4866-4878, May 2018.</p>

<p>5. <a href=https://doi.org/10.1080/13504851.2019.1638493>“Estimates of the Returns to Schooling in Taiwan: Evidence from a Regression Discontinuity Design”</a>, <strong>Applied Economics Letters</strong>, 27(7), 533-538, March 2020.</p>

<p>6. <a href=https://onlinelibrary.wiley.com/doi/10.1111/asej.12260>“More Schooling, More Generous? Estimating the Effect of Education on Intergenerational Transfers”</a>, with T. Yin, <strong>Asian Economic Journal</strong>, 36(1), 22-46, March 2022.</p>
  
<p>7. <a href=https://doi.org/10.1111/asej.12279>“Does Smoking Keep You Slim? Evidence from Japan’s Smoking Ban in the Workplace”</a>, <strong>Asian Economic Journal</strong>, 36(3), 318-336, November 2022.</p>

<h2>Books</h2>
<p>1. <a href="https://www.nippyo.co.jp/shop/book/8956.html">“少子化するアジア 家族形成の困難を超えて”</a>, 溝口由己(編) (担当:分担執筆, 範囲:第9章), <strong>日本評論社</strong>, 2023.
<img src="/img/aging-asia.jpg" width=20% oncontextmenu="return false;" ondragstart="return false;">
</p>
                    
<h2>Working Papers</h2>
<h3 align="left">•Under Review</h3>
<p>1. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3187788">“The Effect of Transportation Benefits on Health and Consumption Among the Elderly: Quasi-Experimental Evidence from Urban China”</a>, with T. Yin and Z. Yin, RIETI Discussion Paper 18-E-037.</p>

<p>2. “Estimating Average Treatment Benefits of Delayed Primary School Enrollment: Regression Discontinuity Evidence from Japan”, available upon request.<br />   
<img src="/img/enrollment.jpg" width=100% oncontextmenu="return false;" ondragstart="return false;"></p>
                 
<p>3. “Revisiting the Delimma of Fertility and Female Labor Supply: New Evidence and Explanations from Japan”, available upon request<br />(This work is supported by <a href="https://kaken.nii.ac.jp/en/grant/KAKENHI-PROJECT-19K13710/">JSPS KAKENHI Grant Number 19K13710</a>.)</p>
              
         
<h3 align="left">•Selected Work in Progress</h3>  
<p>1. “Immigration and Technology Progress: Evidence from the 1949 Retreat of Kuomintang”, available upon request.<br />           
<img src="/img/immi.jpg" width=100% oncontextmenu="return false;" ondragstart="return false;">
</p>
                 
<p>2. “Does Education Matter for Fertility and Abortion? Evidence from a Compulsory Schooling Law”, available upon request.</p>
                 
<p>3. “Education and Wage Inequality in Taiwan, 1979-2015”, available upon request.<br />  
<img src="/img/inequality.jpg" width=100% oncontextmenu="return false;" ondragstart="return false;">
</p>
  
                    
                </div>
            </div>
        </div>
    </section>
