    <!-- Publications Section -->
    <section id="publications" class="content-section text-justify">
        <div class="publications-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Publications</h2>
<p>1. <a href="https://econpapers.repec.org/article/eblecbull/eb-14-00893.htm">“Identifying the Causal Effect of Marriage on Women's Labor Force Participation in the Presence of Chinese Superstition”</a>, with S. Zhang, <strong>Economics Bulletin</strong>, 35(2), 986-997, April 2015.</p>
                    
<p>2. <a href="https://www.sciencedirect.com/science/article/pii/S1043951X16301675">“A Dilemma of Fertility and Female Labor Supply: Identification Using Taiwanese Twins”</a>, <strong>China Economic Review</strong>, 43, 47-63, April 2017.</p>

<p>3. <a href="https://www.sciencedirect.com/science/article/pii/S1043951X17300445">“School Starting Age and Academic Achievement: Evidence from China's Junior High Schools”</a>, with S. Zhang and R. Zhong, <strong>China Economic Review</strong>, 44, 343-354, July 2017.</p>

<p>4. <a href="https://doi.org/10.1080/00036846.2018.1468553">“The Impact of  9-year Compulsory Education: Quasi-Experimental Evidence from Taiwan”</a>, <strong>Applied Economics</strong>, 50(45), 4866-4878, May 2018.</p>

<p>5. <a href=https://doi.org/10.1080/13504851.2019.1638493>“Estimates of the Returns to Schooling in Taiwan: Evidence from a Regression Discontinuity Design”</a>, <strong>Applied Economics Letters</strong>, 27(7), 533-538, March 2020.</p>

<p>6. <a href=https://onlinelibrary.wiley.com/doi/10.1111/asej.12260>“More Schooling, More Generous? Estimating the Effect of Education on Intergenerational Transfers”</a>, <strong>Asian Economic Journal</strong>, 36(1), 22-46, March 2022.</p>
        
                </div>
            </div>
        </div>
    </section>
