 <!-- Working Papers Section -->
    <section id="workingpapers" class="content-section text-center">
        <div class="workingpapers-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Working Papers</h2>
<h3 align="left">Under Review</h3>
<p align="left">1. Estimating Returns to Education Using a Regression Discontinuity Design: Evidence from Taiwan<br \>
Sole-Authored, under review</p>
                 
<p align="left">2. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3187788">“The Effect of Transportation Benefits on Health and Consumption Among the Elderly: Quasi-Experimental Evidence from Urban China”</a>, with T. Yin and Z. Yin, under review, </p>

<p align="left">3. Estimating Average Treatment Benefits of Delayed Primary School Enrollment: Regression Discontinuity Evidence from Japan<br \> 
Sole-Authored, under review</p>   
                 
<p align="left">4. More Schooling, More Generous? Estimating the Effect of Education on Intergenerational Transfers<br \> 
with T. Yin, under review</p>
                   
<h3 align="left">Work in Progress</h3>               
<p align="left">1. Immigration and Technology Progress: Evidence from the 1949 Retreat of Kuomintang</p>
<p align="left">2. Quantity and Quality Trade-Off of Children: Causal Evidence from Taiwan</p>
<p align="left">3. Does Smoking Keep You Slim? Evidence from Japan's Smoking Ban in the Workplace</p>
<p align="left">4. Resource Allocation of Children in Collective Households: Structural Estimates from Taiwan</p>
<p align="left">5. Does Education Matter for Fertility and Abortion? Evidence from a Compulsory Schooling Law</p>
<p align="left">6. Higher Female Education, Less Preference for Sons? Evaluating the Effect of Education on Sex Ratio Imbalance</p>
<p align="left">7. The Causal Effect of Education on Wage Inequality: Consored Quantile Instrumental Variable Estimates</p>
<p align="left">8. Education and Wage Inequality in Taiwan, 1979-2015</p>   
<p align="left">9. Sex Ratio, Crime, and Military Prostitutes</p> 
                 
                 
                </div>
            </div>
        </div>
    </section>
