 <!-- Working Papers Section -->
    <section id="workingpapers" class="content-section text-left">
        <div class="workingpapers-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Working Papers</h2>
<h3 align="left">Under Review</h3>
<p>1. <a href=/papers/001-schooling-return.pdf>“Estimating Returns to Education Using a Regression Discontinuity Design: Evidence from Taiwan”</a></p>
                 
<p>2. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3187788">“The Effect of Transportation Benefits on Health and Consumption Among the Elderly: Quasi-Experimental Evidence from Urban China”</a>, with T. Yin and Z. Yin</p>

<p>3. Estimating Average Treatment Benefits of Delayed Primary School Enrollment: Regression Discontinuity Evidence from Japan, available upon request</p>   
                 
<p>4. More Schooling, More Generous? Estimating the Effect of Education on Intergenerational Transfers, with T. Yin, available upon request</p>
                   
<h3 align="left">Selected Work in Progress</h3>               
<p>1. Does Education Matter for Fertility and Abortion? Evidence from a Compulsory Schooling Law</p>
                 
<p>2. Education and Wage Inequality in Taiwan, 1979-2015</p>   

                 
                 
                </div>
            </div>
        </div>
    </section>
