 <!-- Working Papers Section -->
    <section id="workingpapers" class="content-section text-center">
        <div class="workingpapers-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Working Papers</h2>
<p align="left">1. Identifying the Causal Effect of Marriage on Women's Labor Force Participation in the Presence of Chinese Superstition<br />
with S. Zhang, <strong><em>Economics Bulletin</em></strong>, 35(2), 986-997, April 2015, <a href="https://econpapers.repec.org/article/eblecbull/eb-14-00893.htm">Full text link</a></p>
                    
<p align="left">2. A Dilemma of Fertility and Female Labor Supply: Identification Using Taiwanese Twins<br />
Sole-Authored, <strong><em>China Economic Review</em></strong>, 43, 47-63, April 2017, <a href="https://www.sciencedirect.com/science/article/pii/S1043951X16301675">Full text link</a></p>

<p align="left">3. School Starting Age and Academic Achievement: Evidence from China's Junior High Schools<br />
with S. Zhang and R. Zhong, <strong><em>China Economic Review</em></strong>, 44, 343-354, July 2017, <a href="https://www.sciencedirect.com/science/article/pii/S1043951X17300445">Full text link</a></p>

<p align="left">4. The Impact of  9-year Compulsory Education: Quasi-Experimental Evidence from Taiwan<br />
Sole-Authored, <strong><em>Applied Economics</em></strong>, 50(45), 4866-4878, May 2018, <a href="https://doi.org/10.1080/00036846.2018.1468553">Full text link</a></p>
               
                </div>
            </div>
        </div>
    </section>
