 <!-- Working Papers Section -->
    <section id="zemi" class="content-section text-justify">
        <div class="zemi-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>ゼミ</h2>
                
  <p>国費留学生を除く、原則として研究生の受け入れは行いません。お問い合わせいただいても返信いたしませんので、あらかじめご了承ください。I generally do not accept research student applications, except those who are funded by Japanese Government (MEXT) Scholarships. Please note that I will not respond to inquiries regarding this matter.</p>
                 
  <p>学部ゼミの内容については、 <a href="https://docs.google.com/document/d/1S8CeeOuVveTxdxrNG0dt-INYeyAKhCQ6IrD71oLNJ-Q/edit?usp=sharing">ここをクリック</a> (Undergraduate seminar)</p>

  <p>修士ゼミの内容については、 <a href="https://docs.google.com/document/d/1C_A-kEKbQ0ZHci9JAL0JbAR6Gwsvakj4Z1ce3Xslo9w/edit?usp=sharing">ここをクリック</a> (Master's seminar)</p>
                 
                  
                 
                </div>
            </div>
        </div>
    </section>
