
<!-- Working Papers Section -->
    <section id="zemi" class="content-section text-justify">
        <div class="zemi-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>ゼミ</h2>

  <p>学部ゼミの内容については、 <a href="https://docs.google.com/document/d/1S8CeeOuVveTxdxrNG0dt-INYeyAKhCQ6IrD71oLNJ-Q/edit?usp=sharing">ここをクリック</a> (Undergraduate seminar)</p>
                    
  <p>情報非対称性による配属ミスマッチを減らすために、ゼミの活動や就職実績を、<a href="https://www.instagram.com/cho.data.lab/">Choデータ幼稚園</a>にてSNS発信しています。</p>
  
  <p>国費留学生を除く、原則として研究生の受け入れは行いません。お問い合わせいただいても返信いたしませんので、あらかじめご了承ください。I generally do not accept research student applications, except those funded by Japanese Government (MEXT) Scholarships. Please note that I will not respond to inquiries regarding this matter.</p>
  
  <p>修士ゼミの内容については、 <a href="https://docs.google.com/document/d/1C_A-kEKbQ0ZHci9JAL0JbAR6Gwsvakj4Z1ce3Xslo9w/edit?usp=sharing">ここをクリック</a> (Master's seminar)</p>
  
  <p>日本語、ミクロ経済学、計量経済学に関する十分な実務知識をお持ちであれば、直接に大学院入試を受験してください。If you have a good working knowledge of Japanese, Microeconomics,　and Econometrics, please consider taking the graduate school entrance exam directly.</p>
  
                
                  
                 
                </div>
            </div>
        </div>
    </section>
