 <!-- Working Papers Section -->
    <section id="zemi" class="content-section text-justify">
        <div class="zemi-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>ゼミ</h2>
                <p>国費留学生を除く、原則として研究生の受け入れは行いません。問い合わせをいただいても返信できませんので、ご了解ください。I generally do not accept research student applications, except those who are funded by Japanese Government (MEXT) Scholarships. Please understand that I am unable to respond to inquiries.</p>
         
                 
                 
                </div>
            </div>
        </div>
    </section>
