---
layout: page
title: Blog
permalink: /blog/
---

<div class="blog-index">
    <h1>Blog</h1>
    <p class="blog-subtitle">Notes on research, teaching, data, and everyday observations.</p>

    {% for post in site.posts %}
    <article class="blog-list-item">
        <p class="post-date">{{ post.date | date: "%Y/%m/%d" }}</p>
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% else %}
        <p>{{ post.excerpt | strip_html | truncate: 180 }}</p>
        {% endif %}
    </article>
    {% else %}
    <p>No posts yet.</p>
    {% endfor %}
</div>
